
.pokemon-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear los elementos a la izquierda */
    padding: 10px;
    background: #f0f0f0; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 10px; /* Espaciado superior */
}

.stat-item {
    margin: 5px 0; /* Espaciado vertical entre estadísticas */
}
